<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web001</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserloginServlet</display-name>
    <servlet-name>UserloginServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UserloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserloginServlet</servlet-name>
    <url-pattern>/UserloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddServlet</display-name>
    <servlet-name>CategoryAddServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.CategoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddServlet</servlet-name>
    <url-pattern>/CategoryAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCategoryServlet</display-name>
    <servlet-name>ListCategoryServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.ListCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCategoryServlet</servlet-name>
    <url-pattern>/ListCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUICatoryServlet</display-name>
    <servlet-name>EditUICatoryServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.EditUICatoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUICatoryServlet</servlet-name>
    <url-pattern>/EditUICatoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCatoryServlet</display-name>
    <servlet-name>UpdateCatoryServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UpdateCatoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCatoryServlet</servlet-name>
    <url-pattern>/UpdateCatoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUICatoryServlet</display-name>
    <servlet-name>DeleteUICatoryServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.DeleteUICatoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUICatoryServlet</servlet-name>
    <url-pattern>/DeleteUICatoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUIUserServlet</display-name>
    <servlet-name>DeleteUIUserServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.DeleteUIUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUIUserServlet</servlet-name>
    <url-pattern>/DeleteUIUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUIUserServlet</display-name>
    <servlet-name>EditUIUserServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.EditUIUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUIUserServlet</servlet-name>
    <url-pattern>/EditUIUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAdminServlet</display-name>
    <servlet-name>ListAdminServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.ListAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdminServlet</servlet-name>
    <url-pattern>/ListAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUIAdminServlet</display-name>
    <servlet-name>EditUIAdminServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.EditUIAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUIAdminServlet</servlet-name>
    <url-pattern>/EditUIAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUIAdminServlet</display-name>
    <servlet-name>DeleteUIAdminServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.DeleteUIAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUIAdminServlet</servlet-name>
    <url-pattern>/DeleteUIAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookServlet</display-name>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.ListBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/ListBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUIBookServlet</display-name>
    <servlet-name>DeleteUIBookServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.DeleteUIBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUIBookServlet</servlet-name>
    <url-pattern>/DeleteUIBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUIBookServlet</display-name>
    <servlet-name>EditUIBookServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.EditUIBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUIBookServlet</servlet-name>
    <url-pattern>/EditUIBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminloginServlet</display-name>
    <servlet-name>AdminloginServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.AdminloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminloginServlet</servlet-name>
    <url-pattern>/AdminloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegisterServlet</display-name>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/AdminRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.hxzy.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
</web-app>